*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    background-color: rgb(214,244,243);
    color: rgb(160, 158, 158);
    align-items: center;
}

.container {
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    margin: 5px;
}
.container .card {
    background-color: rgb(223, 193, 253);
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-variant: normal;
}

ul li {
    list-style: none;
}

footer{
    background-color: rgb(54, 58, 58);
    color: rgb(248, 24, 24);
    margin-top: 19px;
    text-align: center;
}